.title{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.globalTotalLikes{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
